{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

  {% block content %} 
 
  <div class="container mb-5 mt-5">
              
              <div class="row mt-5" >
                <div class="col"></div>
                  <div class="col-md-8 mt-5">
                    <div class="jumbotron  mt-5" style="background-color:#1abc9c">
                      <h3 style="color: #fff;">Password change done</h3>
    
                      <p class="lead" style="color: #fff;">'Your password was changed.'</p>
    
                    </div>
                  </div>
                  <div class="col"></div>
                      
              </div>
          
 
  </div>

  {% endblock content %}