{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

  {% block content %} 
 
  <div class="container mb-5 mt-5">
   
              <div class="row   mt-5" >
                <div class="col-6" style="margin: 0px auto;">
                  <div class="card  mt-5">
                    <div class="card-body">
                      <h5 class="card-title">Create a New Account</h5>
                   
                      <form class="m" method="post" action="" >
                        {% csrf_token %}
                        
                          {{form|crispy }}
                       
                          <button tyform-grouppe="submit" class="button btn_4 boxed-btn form-group" style="margin-left: auto; margin-right: auto;">Sgin UP</button>
                       
                      </form>
                      <div class="card-footer text-muted text-center">
                        <span class="text-muted"> Already have Accounts? </span>  <a href="#" class="text-primary" >Log In</a>
                      </div>
                    </div>
                  </div>
                </div>


                      
              </div>
          
 
  </div>

  {% endblock content %}