{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
  {% block content %} 

  <div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
             
                <div class="apply_job_form white-bg">
                    <h4>Adding New Post</h4>
                    <form method="POST" action="" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="text-left">
                            {{ user_form|crispy  }}
                            {{ profile_form|crispy  }}
                        </div>
                       
                            <div class="submit_btn">
                                <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                            
                        </div>
                      </form>
                </div>
            </div>
          
        </div>
    </div>
</div>

  {% endblock content %}
 
