{% extends 'base/base.html' %}
{% load static %}

  {% block content %} 

    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container  mb-4">
                        
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
                </ol>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for post in  posts %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{post.image.url}}"  style="width: 730px; height: 365px; margin:0px auto;"alt="">
                                <a href="#" class="blog_item_date">

                                    <p>{{post.category.title}}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'post_detail' post.category.slug  post.slug %}">
                                    <h2>{{post.title}}</h2>
                                </a>
                                <p>{{post.message|truncatechars:150 }}</p>
                                <ul class="blog-info-link">
                                    <li><a href=""><i class="fa fa-user"></i> {{post.create_by}}</a></li>
                                    <li><a href=""><i class="fa fa-comments"></i> {{post.comments.count}} Comments</a></li>
                                    <li><a href=""><i class="fa fa-calendar"></i> {{post.create_at|date:"M , d , Y"}}</a></li>
                                </ul>
                            </div>
                        </article>
                        {% endfor %}
                        

                        <nav class="blog-pagination justify-content-center d-flex">
                            {% if posts.has_other_pages %} 
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-double-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in posts.paginator.page_range %}
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link"><span {% if i == number %}style="color: #F8694A; font-weight: bold ;"  {% endif %}>{{i}}</span></a>
                                </li>
                                {% endfor %}
                                {% if posts.has_next %}
                               
                                <li class="page-item">
                                    <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a href="?page={{ posts.paginator.num_pages }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-double-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h4 class="widget_title">Recent Post of {{category.title}}</h4>
                            {% for last in lastpost %}
                            <div class="media post_item">
                                <img src="{{last.image.url}}" class="img-responsive " style="max-width: 70px; max-height: 70px; margin:0px auto;" alt="post">
                                <div class="media-body">
                                    <a href="{% url 'post_detail' last.category.slug  last.slug  %}">
                                        <h3>{{last.title|truncatechars:30 }}</h3>
                                    </a>
                                    <p> ago :{{last.create_at|timesince:last.ago}}</p>
                                </div>
                            </div>
                           {% endfor %}
                           
                          
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Common Tags</h4>
                            <ul class="list">
                               {% for tag in common_tags %}
                               <li>
                                  <a href="{% url 'tagged' tag.slug %}">{{ tag}}</a>
                               </li>
                               {% empty %}
                               <li>
                                  <a href="#">There are no similar post yet.</a>
                               </li>
                               {% endfor %}
                               
                            </ul>
                         </aside>
                       
                       


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
  {% endblock content %}
 
